# Ugly hack to ignore all files that lack extensions (such as executables)
# *
# !/**/
# !*.*

# Package and IDE artifacts
.vscode/

# Cpp artifacts
*.o
*.so

# Libtorch library
libtorch/

# Binary files (recorded games)
*.bin

# Jupyter notebook checkpoint files
.ipynb_checkpoints

# Trained PyTorch models
*.pt

# CMake build directories
build/

# C++ executables
**/bin/test_*